#page [rgen-id=rgx8x] {background-image: url(images/uploads/2222222222222222222222_01.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; background-attachment: scroll; }
#page [rgen-id=rga3R] {background-color: rgba(0, 0, 0, 0); background-image: url(images/uploads/2222222222222222222222_01.jpg); background-position: 0% 0%; background-repeat: repeat; background-size: auto; background-attachment: scroll; }


